
<div id="main-content">
    <pre>
        <ol id="row-numbers"></ol>
        developer: {
            {{firstNameProp}}: "{{firstNameVal}}",
            {{lastNameProp}}: "{{lastNameVal}}",
            {{emailProp}}: <a href="mailto:{{emailVal}}">{{emailVal}}</a>,
            {{githubProp}}: <a href="{{githubVal}}">{{githubVal}}</a>,
            {{linkedInProp}}: <a href="{{linkedInVal}}">{{linkedInVal}}</a>,
            workplaces: [
                {
                    {{companyNameProp}}: "{{companyNameval1}}",
                    {{roleProp}}: "{{roleVal1}}",
                    {{timePeriodProp}}: "{{timePeriodVal1}}"
                },
                {
                    {{companyNameProp}}: "{{companyNameval2}}",
                    {{roleProp}}: "{{roleVal2}}",
                    {{timePeriodProp}}: "{{timePeriodVal2}}"
                }
            ]
        }
        <span id="cursor">|</span>
    </pre>
    </div> 