<div id="main-content">
    <pre>
        <ol id="row-numbers"></ol>
        developer: {
            {{developerContextProps.firstName}}: "{{developerContextVals.firstName}}",
            {{developerContextProps.lastName}}: "{{developerContextVals.lastName}}",
            {{developerContextProps.email}}: <a href="mailto:{{developerContextVals.email}}">{{developerContextVals.email}}</a>,
            {{developerContextProps.github}}: <a href="{{developerContextVals.github}}">{{developerContextVals.github}}</a>,
            {{developerContextProps.linkedIn}}: <a href="{{developerContextVals.linkedIn}}">{{developerContextVals.linkedIn}}</a>,
            workplaces: [
                {
                    {{workplaceContextProps.companyName}}: "{{workplaceContext1Vals.companyName}}",
                    {{workplaceContextProps.role}}: "{{workplaceContext1Vals.role}}",
                    {{workplaceContextProps.timePeriod}}: "{{workplaceContext1Vals.timePeriod}}"
                },
                {
                    {{workplaceContextProps.companyName}}: "{{workplaceContext2Vals.companyName}}",
                    {{workplaceContextProps.role}}: "{{workplaceContext2Vals.role}}",
                    {{workplaceContextProps.timePeriod}}: "{{workplaceContext2Vals.timePeriod}}"
                }    
            ]
        }
        <span id="cursor">|</span>
    </pre>
</div> 