
<div id="main-content">
    <pre>
        <ol id="row-numbers"></ol>
        developer: {
            {{ firstNameProp }}: "{{ firstNameVal }}",
            {{ lastNameProp }}: "{{ lastNameVal }}",
            {{ emailProp }}: <a href="mailto:antonoberg3@outlook.com">{{ emailVal }}</a>,
            {{ githubProp }}: <a href="https://github.com/ao222qg">{{ githubVal }}</a>,
            {{ linkedInProp }}: <a href="https://www.linkedin.com/in/anton-%C3%B6berg-416874182/">{{ linkedInVal }}</a>,
            workplaces: [
                {
                    companyName: "Academic work",
                    role: "It-consultant",
                    timePeriod: "<span id="workDatesAcademicWork"></span>"
                },
                {
                    companyName: "Jetshop AB"
                    role: "Software developer",
                    timePeriod: "<span id="workDatesJetshop"></span>"
                }
            ]
        }
        <span id="cursor">|</span>
    </pre>
    </div> 